---
import Layout from '@/layouts/Layout.astro';
import { GridLayout } from '@/components/react/Grid';
---

<Layout title="Home">
    <GridLayout debug>
        <h1>Home</h1>
        <p>Home page</p>
    </GridLayout>
</Layout>
